{% extends 'base.html.twig' %}


{% block body %}

    <center>
        <h1> Club Esprit </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquid consequuntur distinctio, dolor doloremque eos expedita facere in, minima nisi nulla numquam officia perspiciatis qui quod repudiandae tempore totam voluptatibus? </p>
        <img src="{{ asset('avatar.jpg') }}" alt="">
    </center>
{% endblock %}
